@charset "UTF-8"; /* Set charset UTF-8 */

/* 
    css/styles.css
    Author: Jordan Hay
*/

/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); 

/* Every Element (Ones below will overide if need be) */
* { 
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: #394791;
}

hr {
    color: #394791;
    background-color: #394791;
    border-color: #394791;
}

/* Animations */

@keyframes fade-in {
    from {
        display: none;
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        z-index: 1;
        display: none;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

@keyframes slide-out-bottom {
    from {
        position: fixed;
        top: 0;
        left: 0;
        opacity: 1;
    } to {
        position: fixed;
        top: 100vh;
        left: 0;
        opacity: 0;
    }
}

@keyframes slideshow-new-slide {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

/* Responsive */

/* Mobile */
[class*="col-"] {
    width: 100%;
    float: left;
    padding: 10px;
}

.row {
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.mobile-only {
    display: inline-block;
}

.desktop-only {
    display: none;
}
  
/* Desktop */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .row {
        display: flex;
        flex-flow: row;
    }
    .mobile-only {display: none;}
    .desktop-only {display: inline-block;}
}

/* Loading */

#loading-screen {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

#loading-logo {
    position: relative;
    left: 50vw;
    top: 30vh;
    max-height: 100px;
    padding: 0;
    margin-left: -107px;
    margin-bottom: 70px;
}

#loading-spinner {
    animation: spin 1s infinite linear;
    position: relative;
    left: 50vw;
    top: 30vh;
    width: 35px;
    height: 35px;
    padding: 0;
    margin-top: 100px;
    margin-left: -125px;
}

/* Main */

main {
    margin-top: 300px;
}

/* Header */

.header {
    margin-top: -300px;
    position: absolute;
    height: 300px;
    display: inline-block;
    background-size: cover;
    background-position: top center;
    width: 100vw;
}

#pseudo-header {
    z-index: 1;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 90px;
    height: 100px;
    filter: brightness(0) invert(1) drop-shadow(0px 0px 3px RGBA(0, 0, 0, 0.75));
    z-index: 1;
}

/* Nav */

nav {
    border-bottom: 2px solid #394791;
    text-align: center;
    background-color: white;
    height: 60px;
    z-index: 5;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    transition: 0.3s ease all;
    padding: 0;
    position: relative;
    top: -42px;
    padding: 20px;
    color: #394791;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s ease all;
}

nav ul li:hover {
    opacity: 0.8;
}

nav ul li.active {
    background-color: #394791;
    color: white;
    transition: 0.3s ease all;
}

nav.stick {
    position: fixed;
    top: 0;
    z-index: 3;
}

#nav-responsive-button {
    display: none;
}

/* Mobile nav */
@media screen and (max-width: 768px) {

    #nav {
        height: 60px;
        margin: 0;
        transition: 0.3s ease all;
        overflow: hidden;
    }

    #nav ul {
        position: relative;
        top: 32px;
        left: -10px;
        padding: 0;
        margin: 0;
    }

    #nav ul li {
        margin: 0;
        width: 100vw;
    }

    #nav-responsive-button {
        display: block; 
    }

    #nav.responsive ul li {
        display: block;
        height: 60px;
    }
}

/* Content */

#content {
    z-index: 1;
}

#content h1 {
    text-align: center;
}

/* Dynamic Images */

.dynamic-img {
    min-height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Footer */

footer {
    text-align: center;
    color: RGBA(0, 0, 0, 0.75);
    margin-bottom: 1000px;
}

footer small a {
    color: inherit;
}